* {
    background-color: #343a40;
    color: #fff;
}

.bodyPage {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.cardGrid {
    display: grid;
    margin: 40px 0px;
    grid-template-rows: 150px auto;
    grid-template-columns: 150px 600px;
}

.profileImage {
    border-radius: 50%;
    max-width: 145px;
    max-height: 145px;
}

.mainNotes {
    padding: 10px;
}
.mainNotes h2 {
    margin: 0px 20px;
}
.mainNotes h3 {
    margin: 0px 40px;
    font-style: italic;
}

.techKnowledge {
    padding-top: 5px;
}

.extraKnowledge {
    float: left;
    padding-left: 40px;
}

.listNames, .proficiency {
    list-style-type: none;
    margin: 0px;
    float: left;
    padding-left: 20px;
}

.circle {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.circleEmpty {
    height: 12px;
    width: 12px;
    border: 2px solid #bbb;
    border-radius: 50%;
    display: inline-block;
}

.extraNotes {
    padding: 10px;
    margin: 0px;
    grid-column: 1/3;
}