h1, h2, h3, h4, h5, h6 {
    font-family: "Fredoka One", cursive;
    font-weight: 400;
  }
  
  h1 {
    font-weight: 400;
    color:chocolate;
  }
  
  nav {
    background-color: #fff59e;
  }
  
  nav .navbar-brand {
    color:chocolate;
  }
  nav div div ul .nav-item a{
    color:chocolate;
  }
  
  body {
    font-family: "Fredoka One", cursive;
    color: chocolate;
  }
  
  body nav header a {
    color: chocolate;
  }
  
  main {
    padding-bottom: 250;
  }
  
  main img {
    z-index: 1;
    left: auto;
  }

  main .banner img{
    max-width: 120%;
    height: auto;
    padding-left: 250;
    padding-top: 75;
  }
  .welcome input {
    width: 350;
  }
  
  .banner {
    max-width: 70%;
    height: auto;
    display: flex;
    padding-left: 150;
    padding-top: 50;
}

  .welcome {
    position: absolute;
  }
  

  .browse {
    padding-top: 20;
    text-align: center;
  }

  

  .images{
    max-width: fit-content;
    height: auto;
  }

  .card-group .card{
    background-color: #fff59e;
    margin: 20px;
  }

  .card-img {
    padding: 20
  }

  footer {
    background-color: chocolate;
  }
  