h1, h2, h3, h4, h5, h6 {
  font-family: "Fredoka One", cursive;
  font-weight: 400;
}

.home-banner {
  margin:auto;
  width: 900px;
  height: auto;
  padding-left: 170px;
}
  
.home-container {
  margin: auto;
  padding: 100px;
  color: chocolate;
}