h4 {
    text-align: center;
    font-size: 30px;
}

.signup-card {
    padding: 40px;
    background-color: beige;
    border-width: 2px;
    border-color: chocolate;
    color: chocolate;
    text-align: left;
    width: 350px;
}

.signup-container {
    margin:auto;
    width: 350px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.signup-card input {
    border-color: chocolate;
    color:chocolate;
}

.signup-card button {
    color: white;
    width: 266px;
    cursor:pointer;
}

button:hover {
    background-color: white;
}

