body {
    background-color: #25282b !important;
}

.bodyPage {
    margin: 0 auto;
    width: 50%;
    padding: 10px;
}

.btn {
    background: maroon;
    color: white;
    outline: none !important;
    box-shadow: none !important;
}
.btn:focus {
    outline: none !important;
}

.navbar-brand {
    margin-left: 30px;
}

/*
.cardGrid {
    color: #f8f9fa !important;
    display: grid;
    margin: 100px 0px 150px 0px;
    grid-template-rows: 150px auto;
    grid-template-columns: 150px 600px;
}
*/
.cardGrid {
    color: #f8f9fa !important;
    display: grid;
    margin: 10% 0px 20% 0px;
    grid-template-rows: calc(150px + .4vw) auto;
    grid-template-columns: 10vw 40vw;
}

.profileImage {
    border-radius: 50%;
    max-width: calc(40px + 7vw);
    max-height: calc(40px + 7vw);
}

.mainNotes {
    padding: 8px;
    font-size:calc(12px + .2vw);
}
.mainNotes h2 {
    font-size: calc(20px + .2vw);
    margin: 0px 20px;
    font-weight: bold;
    font-family: Georgia, serif;
}
.mainNotes h3 {
    font-size: calc(16px + .2vw);
    margin: 0px 40px;
    font-style: italic;
    font-family: serif;
}

.techKnowledge {
    padding-top: 5px;
}

.extraKnowledge {
    float: left;
    padding-left: 40px;
}

.listNames, .proficiency {
    list-style-type: none;
    margin: 0px;
    float: left;
    padding-left: 20px;
}

.circle {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.circleE {
    height: 15px;
    width: 15px;
    border: 2px solid #bbb;
    border-radius: 50%;
    display: inline-block;
}

.extraNotes {
    padding: 10px;
    margin: 0px;
    grid-column: 1/3;
}

@media (max-width: 1210px) {
    .extraKnowledge {
        visibility: hidden;
    }
}

@media (max-width: 560px) {
    .techKnowledge {
        visibility: hidden;
    }
}