[Unit]
Description=MyNodeApp

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/csc648-01-fa22-team02/applications/server
ExecStart=/snap/bin/npm run dev
Restart=always
User=ubuntu
Group=ubuntu
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target